<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New Company Page</h1>
    <form action="/cars" method="POST">
      <label for="name">Name</label>
      <input type="text" name="name" id="name"/>
      <label for="model">model</label>
      <input type="text" name="model" id="model"/>
      <label for="color">color</label>
      <input type="text" name="color" id="color" />
      <input type="submit" value="Create Car">
    
  </body>
</html>