<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/app.css">
    <title></title>
  </head>
  <body>
    <h1>Edit driver Page</h1>
    <form action="/drivers/<%= driver._id %>?_method=put" method="POST">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="<%= driver.name %>"/>
      <label for="age">age</label>
      <input type="text" name="age" id="age" value="<%= driver.age %>"/>
      
      <input type="submit" value="Create driver">
    </form>
  </body>
</html>