<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/app.css">
    <title></title>
  </head>
  <body>
    <h1>Edit Company Page</h1>
    <form action="/companys/<%= company._id %>?_method=put" method="POST">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="<%= company.name %>"/>
      <label for="logo">logo</label>
      <input type="text" name="logo" id="logo" value="<%= company.logo %>"/>
      
      <input type="submit" value="Create Company">
    </form>
  </body>
</html>